<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eleTakeOut.server.mapper.DishMapper">
    <delete id="deleteByShopIds">
        delete from dish where shop_id in
        <foreach collection="shopIds" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
    <select id="pageQuery" resultType="eleTakeOut.pojo.vo.DishDetailVO">
        select d.*,c.name categoryName
        from dish d left join category c on d.category_id = c.id
        <where>
            <if test="keyword != null and keyword != ''">
                and d.name like concat('%',#{keyword},'%')
            </if>
            <if test="categoryName != null and categoryName != ''">
                and c.name like concat('%',#{categoryName},'%')
            </if>
            and d.shop_id = #{shopId}
        </where>
        order by update_time desc
    </select>
</mapper>