<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eleTakeOut.server.mapper.DishMapper">
    <delete id="deleteByShopIds">
        delete from dish where shop_id in
        <foreach collection="shopIds" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
    <select id="pageQuery" resultType="eleTakeOut.pojo.vo.DishDetailVO">
        select * from dish
        <where>
            <if test="keyword != null and keyword != ''">
                and name like concat('%',#{keyword},'%')
            </if>
            and shop_id = #{shopId}
            and category_id = #{categoryId}
        </where>
    </select>
</mapper>